.app-container{
    border: 2px dashed black;
    display: flex;
    margin: 0;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    
}

.manager{
    /* border-right: 1px solid black; */
    border : 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    margin:0;
    flex: 1;
    /* width: 75%; */
    /* height: 100vh; */
}

.manager-content h5{
    display: inline-block;
    margin-left: 25px;
}
.manager-content span{
    display: block;
    border-bottom : 0.5px solid rgba(0, 0, 0, 0.1);
    line-height: 40px;
    width: 100%;
    padding: 10px;
}

.manager-title{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}
.displayer{
    /* border-right: 1px solid black; */
    /* margin:0; */

    display: flex;
    flex: 3;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    


    /* width: 75%; */
    /* height: 100; */
}
.displayer-in-component{/*
    background-color: white;
    flex: 3;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;*/
}
.displayer-content{
    flex: 1;
    width: 30%;
    height: 70%;
}
/* .displayer-content:nth-child(2){
    border : 1px dashed rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.1);
} */
.card{
    border : 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}
.card-opac{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}



.card-picture{
    width: 100%;
    height: 80%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

.swip{
    display: block;
    transform: translateX(300%);
    transform: translateX(0%);
    display : null; 
    transition: 2s;
}

.card:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.nav-btn{
    font-size : "3rem";
    opacity: "0.2";
}

.profile-picture{
    width: 25%;
    height: 80px;
    border:1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    margin-right: 25px;
    text-align: center;   
}

.manager-content-header{
    /* border: 1px solid black; */
    cursor: pointer; 
    padding: 5px;
}

.header-active{
    border-bottom: 3px solid darkmagenta;
}

.edit-container{
    display: flex;
    justify-content:center; 
    flex-direction: column;
    align-items:center; 
    height: 100%; 
    width:100%;
    padding-top: 7rem; 
    border:1px dashed black;
}

.edit-header{
    flex: 1;
    display: flex;
    flex-direction: row;
    /* border: 1px dashed darkmagenta; */
    width: 70%;
}

.edit-header .profile-picture{
    flex: 1;
}

.edit-header .user-info{
    flex: 7;
    padding-top: 1rem;
    /* border: 1px dashed blueviolet; */
}

.user-info .name{
    font-size: 15px;
    font-weight: bold;
}

.user-info .email{
    color: #969496;
    font-style: italic;
}

.edit-content{
    flex: 3;
    display: flex;
    flex-direction: column;
    width: 70%;
    /* border: 1px dashed palegreen; */
    /*padding-top: 3rem;*/
    padding-left: 1rem;
    padding-right: 1rem;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row .first, .row .second{
    flex: 1;

}

.row .second{
    padding-left: 1rem;
}

.form-groupment{
    padding-top: 2rem;
}
.edit-content .form-input{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.edit-content .row .form-input{
   width: 100%;
}

.form-groupment a{
    margin-left: 85%;
}