.app-container{
    /* border: 2px dashed black; */
    display: flex;
    margin: 0;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;    
}

.app-header{
    /* border : 2px dashed black; */
    /* background-color: #fff6ee;  un belge bizzare façon là*/
    display :flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* height: 50px; */
}

.app-header .menu{
    display: flex;
    flex: 1;  
    margin-left: 10%;  
}

.app-header .search{
    display: flex;
    flex: 3;
    height: 100%;
    width:100%;
    justify-content: center;
    align-items: center;
    /* border: 1px dashed blueviolet; */
}

.input-search{
    width: 70%;
    height: 50px;
    font-size: 18px;
    border-color: #969496;
    opacity: 0.5;
    border-radius:5px;
    outline : none;
}

.app-header .menu .profile-picture{
    width: 3%;
    height: 3%;
}

.app-header .nav-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex : 2;

} 
 
.app-header .nav-link a{
    margin-left: 10%;
    font-size:18px;
    /* font-weight: bold; */
    color: rgb(90, 130, 195);
}

.manager{
    /* border-right: 1px solid black; */
    /* border : 1px solid rgba(0, 0, 0, 0.1); */
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    margin:0;
    flex: 1;
    /* width: 75%; */
    /* height: 100vh; */
}

/****************************************************************************************************************/

.menu-side{
    /* border: 1px dashed rebeccapurple; */
    display:flex;
    margin-top: 5%;
    flex-direction: column;
    /* justify-content: center; */
    align-items:center;
    padding: 3%;
    flex: 1;
    
}
.menu-side div{
    padding-top: 10%;
}

.menu-side div a{
    font-weight: bold;
    color: #37384e;
}
/* .menu-side :first-child a{
    color: #e13f58;
} */

.menu-side-active{
    color: #e13f58 !important;
}

/****************************************************************************************************************/
.displayer{
    /* border-right: 1px solid black; */
    /* margin:0; */

    display: flex;
    flex: 7;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
    /* background-color: orange; */


    /* width: 75%; */
    /* height: 100; */
}

.displayer-container{
    display: flex;
    justify-content: row;
    flex: 2;
    border-radius:5%;
    /* background-color: #e13f58; */
    width: 95%;
    height: 60%;
}


.displayer .content{
    display: flex;
    flex-direction: column;
    flex: 3;
    width: 100%;
    /* border: 1px solid black; */
    /* background-color: green; */
}

.displayer .content .title{
   
    flex:1;
    color: #37384e;
    margin-left: 10%;
}

.title h1{
    color: #37384e;
}





/* .manager-content{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.manager-content h5{
    display: inline-block;
    
    margin-left: 25px;
}
.manager-content span{
    display: block;
    border-bottom : 0.5px solid rgba(0, 0, 0, 0.1);
    line-height: 40px;
    width: 100%;
    padding: 10px;
}

.manager-content span a{
    color: black;
}
.manager-title{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

} */

.displayer-in-component{/*
    background-color: white;
    flex: 3;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;*/
}

/****************************************************************************************************************/


.displayer-content{
    /* border : 1px dashed blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3;
    width: 100%;
    height: 50%;
}
/* .displayer-content:nth-child(2){
    border : 1px dashed rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.1);
} */
.card{
    display: flex;
    flex-direction: row;
    flex: 1;
    /* border : 1px solid rgba(0, 0, 0, 1); */
    border-radius: 3%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 75%;
    z-index: 5;
    /* background-color: red; */
}
.card-opac{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.rating{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* background-color: #37384e; */
    width: 100%;
    height: 20%;
}
.rating a{
    margin-right:3%;
}

.card-picture{
    flex:1;
    width: 500px;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    /* background-color:blue; */
}
.card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex : 1;
    border-radius: 0% 4% 4% 0%;
    background-color: #e13f58;
    color:#fff;
    font-size: 1.3rem;
}
.swip{
    display: block;
    transform: translateX(300%);
    transform: translateX(0%);
    display : null; 
    transition: 2s;
}

.card:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.nav-btn{
    font-size : "3rem";
    opacity: "0.2";
}

.profile-picture{
    width: 100%;
    height: 50px;
    border:1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    margin-right: 25px;
    text-align: center;   
}

.manager-content-header{
    /* border: 1px solid black; */
    cursor: pointer; 
    padding: 5px;
}

.header-active{
    border-bottom: 3px solid darkmagenta;
}





/****************************************************************************************************************/

.edit-container{
    display: flex;
    justify-content:center; 
    flex-direction: column;
    align-items:center; 
    height: 100%; 
    width:100%;
    padding-top: 7rem; 
    /* border:1px dashed black; */
}

.edit-header{
    flex: 1;
    display: flex;
    flex-direction: row;
    /* border: 1px dashed darkmagenta; */
    width: 70%;
}

.edit-header .profile-picture{
    flex: 1;
}

.edit-header .user-info{
    flex: 7;
    padding-top: 1rem;
    /* border: 1px dashed blueviolet; */
}

.user-info .name{
    font-size: 15px;
    font-weight: bold;
}

.user-info .email{
    color: #969496;
    font-style: italic;
}

.edit-content{
    flex: 3;
    display: flex;
    flex-direction: column;
    width: 70%;
    /* border: 1px dashed palegreen; */
    /*padding-top: 3rem;*/
    padding-left: 1rem;
    padding-right: 1rem;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row .first, .row .second{
    flex: 1;

}

.row .second{
    padding-left: 1rem;
}

.form-groupment{
    padding-top: 2rem;
}
.edit-content .form-input{
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.edit-content .row .form-input{
   width: 100%;
}

.form-groupment a{
    margin-left: 85%;
}
.list-view{
    cursor: pointer;
}
.list-view-active{
    border-right: 3px solid darkmagenta;
}